.custom-image-width {
    background: white;
    border-radius: 15px;
    height: 45px;

}

.custom-input {
    padding: 3px;
    width: 37%;
    border-radius: 30px;
    /* background-color: black; */
    border: none;

}

.custom-button {
    /* opacity: 21.5; */
    /* background-color: #564f4f; */
    border: none;
    border-radius: 10px;

}

.custom-button-img {
    width: 30px;
}


.custom-button-shivaimg {
    width: 42px;
    border-radius: 50px;
}

.custom-li li {
    margin-left: 30px;
}
